<%- include('../partials/header') %>
        <ul>
        <% events.forEach(function(event, idx) { %>
            <li>
                <form action="/events/<%= event._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form> Title -
            <a href="/events/<%= event._id %>">
                <%= event.title %></a>
            </li>
        <% }); %>
        </ul>
        <a href="/events/new">Add Event</a>
        <%- include('../partials/footer') %>